@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1E1E1E;
    color: whitesmoke;
    font-family: "Comic Relief", system-ui;
    font-weight: 400;
    font-style: normal;
}
header {
    padding: 3rem;
    background-color: #C5A253;
    color: black;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1;
    background-color: #C5A253;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}
.botao-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #C5A253; 
    color: #2C2C2C;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  .botao-link:hover {
    background-color: #3A3A3A;
    color: #fff;
}
main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
section1 {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    padding: 40px 20px; 
    text-align: center;   
    max-width: 800px;  
    margin: 0 auto;         
    color: #fff;           
}
section2{
    display: flex;
    align-items: center; 
    justify-content: center;  
    gap: 20px; 
    padding: 40px 20px;  
    color: #fff;
}
section3 {
    text-align: center;
    margin: 0;
    padding: 7rem;
    background-color: #3A3A3A;
    gap: 5rem;
}
section4{
    font-size: small;
}